5 - PreCheckKernel Workflow(5).json
{
  "name": "5 - PreCheckKernel Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.awx_url}}/api/v2/job_templates/{{$json.precheck_job_template_id}}/launch/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        496
      ],
      "id": "4d20cffc-30db-4ec6-b44e-4def53ba7ef8",
      "name": "Trigger AWX Job",
      "credentials": {
        "httpHeaderAuth": {
          "id": "u0Z1ycjbBEBno3x9",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "uzEGYftAkvB6nSnS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -928,
        496
      ],
      "id": "01d09a0c-6824-434d-9411-ae50916b9238",
      "name": "Wait",
      "webhookId": "ce52cd00-881c-4cdd-80a2-d06ee36bb8aa"
    },
    {
      "parameters": {
        "url": "=http://34.141.119.13:30080/api/v2/jobs/{{ $('Trigger AWX Job').item.json.job }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -736,
        496
      ],
      "id": "9eab65cc-ec36-45c3-b288-c7aec00a6dbd",
      "name": "Check Job Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "u0Z1ycjbBEBno3x9",
          "name": "Header Auth account"
        },
        "httpBasicAuth": {
          "id": "uzEGYftAkvB6nSnS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "http://34.122.130.98/apirest.php/initSession",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "oiK87tYSdignGiEVYE9G6DwvoKyG8mEHhiYPAiq8"
            },
            {
              "name": "Authorization",
              "value": "user_token 2awmT1mDMEtkraPiT71nPFLRhqHxHlFqye0MK0Z6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2176,
        496
      ],
      "id": "a623d81f-d69d-49b7-a045-fbee934bbb01",
      "name": "Init GLPI Session"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86c9904c-2c9d-4174-b8ce-415294662bf2",
              "name": "target_ip",
              "value": "34.40.22.118",
              "type": "string"
            },
            {
              "id": "88bb2bfa-0c75-44ff-8f16-68adbaf01876",
              "name": "hostname",
              "value": "linux-kernel-sandbox",
              "type": "string"
            },
            {
              "id": "f0a8e472-522e-4764-a0a3-77b175165b0c",
              "name": "request_id",
              "value": "REQ-1004",
              "type": "string"
            },
            {
              "id": "560a28e7-50ec-4033-89e6-b79e2996ab12",
              "name": "awx_url",
              "value": "http://34.141.119.13:30080",
              "type": "string"
            },
            {
              "id": "5cdc467c-4aff-4321-a9b0-dbbf6a25001c",
              "name": "precheck_job_template_id",
              "value": "11",
              "type": "string"
            },
            {
              "id": "10290730-0ff2-4432-a75e-05a43bcfa04d",
              "name": "upgrade_job_template_id",
              "value": "12",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        496
      ],
      "id": "eea727e1-2f7c-4fc5-80b1-7c5e3d1c9462",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.122.130.98/apirest.php/Ticket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "oiK87tYSdignGiEVYE9G6DwvoKyG8mEHhiYPAiq8"
            },
            {
              "name": "Session-Token",
              "value": "={{$node[\"Init GLPI Session\"].json[\"session_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"name\": \"Precheck Kernel Upgrade - {{$node['Prepare Input'].json['hostname']}}\",\n    \"content\": \"Automatisch erzeugtes Precheck-Ticket durch n8n.\\n\\nHostname: {{$node['Prepare Input'].json['hostname']}}\\nTarget IP: {{$node['Prepare Input'].json['target_ip']}}\\nRequest ID: {{$node['Prepare Input'].json['request_id']}}\\nProzess: Linux Kernel Precheck\",\n    \"status\": 1,\n    \"priority\": 3\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1968,
        496
      ],
      "id": "ffab1a49-d6fb-4ee2-9a1a-721f29ccdd87",
      "name": "Create GLPI Ticket Precheck"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "049137e0-3b19-4a76-b273-0c7e352f4dda",
              "name": "glpi_precheck_ticket_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "43e80e5a-a716-4ded-965e-449ebdee0e8c",
              "name": "target_ip",
              "value": "={{$node[\"Prepare Input\"].json[\"target_ip\"]}}",
              "type": "string"
            },
            {
              "id": "24c555bc-3420-401a-a42a-6519da1c1018",
              "name": "hostname",
              "value": "={{$node[\"Prepare Input\"].json[\"hostname\"]}}",
              "type": "string"
            },
            {
              "id": "e96ad07f-911a-4330-8226-09c68e120325",
              "name": "request_id",
              "value": "={{$node[\"Prepare Input\"].json[\"request_id\"]}}",
              "type": "string"
            },
            {
              "id": "ea613fb0-a286-4aa3-b42a-87d096bdee97",
              "name": "awx_url",
              "value": "={{$node[\"Prepare Input\"].json[\"awx_url\"]}}",
              "type": "string"
            },
            {
              "id": "4d200559-cc80-407c-be75-d442a67fa5fc",
              "name": "precheck_job_template_id",
              "value": "={{$node[\"Prepare Input\"].json[\"precheck_job_template_id\"]}}",
              "type": "string"
            },
            {
              "id": "93f64a26-9292-4117-a732-6a5d1535ce9a",
              "name": "upgrade_job_template_id",
              "value": "={{$node[\"Prepare Input\"].json[\"upgrade_job_template_id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        496
      ],
      "id": "1a392c6c-5c30-49ef-9389-abba7cdc06a7",
      "name": "Save GLPI Precheck Ticket ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://34.122.130.98/apirest.php/Ticket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "oiK87tYSdignGiEVYE9G6DwvoKyG8mEHhiYPAiq8"
            },
            {
              "name": "Session-Token",
              "value": "={{$node[\"Init GLPI Session\"].json[\"session_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"name\": \"Kernel Upgrade - {{$node['Save GLPI Precheck Ticket ID'].json['hostname']}}\",\n    \"content\": \"Automatisch erzeugtes Kernel-Upgrade-Ticket durch n8n.\\n\\nHostname: {{$node['Save GLPI Precheck Ticket ID'].json['hostname']}}\\nTarget IP: {{$node['Save GLPI Precheck Ticket ID'].json['target_ip']}}\\nRequest ID: {{$node['Save GLPI Precheck Ticket ID'].json['request_id']}}\\nReferenz Precheck Ticket: {{$node['Save GLPI Precheck Ticket ID'].json['glpi_precheck_ticket_id']}}\\nProzess: Linux Kernel Upgrade\",\n    \"status\": 1,\n    \"priority\": 3\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1552,
        496
      ],
      "id": "18cd630d-ff42-4d1a-ab0c-c77c4c955e48",
      "name": "Create GLPI Ticket Kernel Upgrade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09d84ded-7c81-4f95-a582-8b7bd7e554a1",
              "name": "glpi_upgrade_ticket_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "cfdca625-be44-4df1-b55e-f81c599f697b",
              "name": "glpi_precheck_ticket_id",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"glpi_precheck_ticket_id\"]}}",
              "type": "string"
            },
            {
              "id": "0c7b120d-0438-4358-bbf4-9795d053c846",
              "name": "hostname",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"hostname\"]}}",
              "type": "string"
            },
            {
              "id": "27a18809-da78-4b1b-bd90-67c37e55c933",
              "name": "target_ip",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"target_ip\"]}}",
              "type": "string"
            },
            {
              "id": "41caef31-e07c-4111-8aa3-323f53ce6173",
              "name": "request_id",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"request_id\"]}}",
              "type": "string"
            },
            {
              "id": "24301cac-8e60-46c6-b676-cf66c466b022",
              "name": "awx_url",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"awx_url\"]}}",
              "type": "string"
            },
            {
              "id": "977895fb-56ff-4c79-9c19-b31f9c704bd7",
              "name": "precheck_job_template_id",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"precheck_job_template_id\"]}}",
              "type": "string"
            },
            {
              "id": "c6509aed-5c71-4c40-8248-f4693593fee2",
              "name": "upgrade_job_template_id",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"upgrade_job_template_id\"]}}",
              "type": "string"
            },
            {
              "id": "e16159b4-08ff-4be4-a5c5-5a8df538afd7",
              "name": "kernel",
              "value": "={{$node[\"Save GLPI Precheck Ticket ID\"].json[\"kernel\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        496
      ],
      "id": "bafcca71-bf3d-409a-8d3f-92633da18ddd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "awx_kernel_logs",
          "mode": "list",
          "cachedResultName": "awx_kernel_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "host_ip": "={{ $json.artifacts.precheck_kernel_upgrade.host }}",
            "os_distro": "={{ $json.artifacts.precheck_kernel_upgrade.os.distro }}",
            "kernel_version": "={{ $json.artifacts.precheck_kernel_upgrade.os.kernel_running }}",
            "reboot_required": "={{ $json.artifacts.precheck_kernel_upgrade.reboot_required }}",
            "boot_free_mb": "={{ $json.artifacts.precheck_kernel_upgrade.resources.boot_free_mb }}",
            "job_name": "={{ $json.name }}",
            "status": "={{ $json.summary_fields.project.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_name",
              "displayName": "job_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "host_ip",
              "displayName": "host_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "os_distro",
              "displayName": "os_distro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kernel_version",
              "displayName": "kernel_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reboot_required",
              "displayName": "reboot_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "boot_free_mb",
              "displayName": "boot_free_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        448
      ],
      "id": "7b90db66-9a69-4f75-8a84-c2749aaed316",
      "name": "Insert AWX Kernel Logs",
      "credentials": {
        "postgres": {
          "id": "2Oz45cpvd71nQQ1K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "successful",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "557d866c-0986-44cb-8729-ec495a27a642"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12305f55-29b9-4c6d-84e9-14eaef3b62c0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "14b5bb5b-0bb1-425a-beba-d6edf12f7865",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -544,
        464
      ],
      "id": "d2c28659-3aaa-472f-9384-db5dd4c56f16",
      "name": "Switch AWX Status"
    },
    {
      "parameters": {
        "url": "=http://34.141.119.13:30080/api/v2/jobs/{{$node[\"Trigger AWX Job\"].json[\"job\"]}}/job_events/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "200"
            },
            {
              "name": "order_by",
              "value": "start_line"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        448
      ],
      "id": "66216945-a5b5-4799-824d-725247052c6d",
      "name": "Get AWX Job Events",
      "credentials": {
        "httpBasicAuth": {
          "id": "uzEGYftAkvB6nSnS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://34.122.130.98/apirest.php/Ticket/{{$node[\"Create GLPI Ticket Precheck\"].json[\"id\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-Token",
              "value": "oiK87tYSdignGiEVYE9G6DwvoKyG8mEHhiYPAiq8"
            },
            {
              "name": "Session-Token",
              "value": "={{$node[\"Init GLPI Session\"].json[\"session_token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"id\": \"{{$node['Create GLPI Ticket Precheck'].json['id']}}\",\n    \"status\": 6,\n    \"solution\": \"Kernel precheck completed successfully via n8n/AWX\",\n    \"content\": \"Precheck successful for {{$node['Insert AWX Kernel Logs'].json['host_ip']}}. OS={{$node['Insert AWX Kernel Logs'].json['os_distro']}}, kernel={{$node['Insert AWX Kernel Logs'].json['kernel_version']}}, reboot_required={{$node['Insert AWX Kernel Logs'].json['reboot_required']}}, boot_free_mb={{$node['Insert AWX Kernel Logs'].json['boot_free_mb']}}. AWX stdout and job events were stored in PostgreSQL.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        448
      ],
      "id": "ef71612a-d947-473d-8e55-3bc34e1c49d3",
      "name": "Close GLPI Precheck Ticket"
    },
    {
      "parameters": {
        "jsCode": "// Schutz-Funktion gegen Abstürze bei fehlenden Knoten\nfunction safeGet(nodeName, field) {\n  try {\n    const nodeData = $node[nodeName];\n    if (nodeData && nodeData.json) {\n      return nodeData.json[field] ?? null;\n    }\n    return null;\n  } catch (err) {\n    return null; \n  }\n}\n\nconst events = $input.first().json.results || [];\n\nconst jobId =\n  safeGet(\"Trigger AWX Job\", \"job\") ??\n  safeGet(\"Check Job Status\", \"id\") ??\n  null;\n\nconst ticketId =\n  safeGet(\"Create GLPI Ticket Precheck\", \"id\") ?? null;\n\n// HIER SIND DIE KORREKTEN NAMEN JETZT EINGETRAGEN:\nconst requestId =\n  safeGet(\"When Executed by Another Workflow\", \"request_id\") ?? \n  safeGet(\"Edit Fields\", \"request_id\") ?? \n  null;\n\nconst hostname =\n  safeGet(\"When Executed by Another Workflow\", \"hostname\") ?? \n  safeGet(\"Edit Fields\", \"hostname\") ?? \n  null;\n\nconst hostIp =\n  safeGet(\"Insert AWX Kernel Logs\", \"host_ip\") ??\n  safeGet(\"Trigger AWX Job\", \"target_ip\") ??\n  null;\n\nconst status =\n  safeGet(\"Insert AWX Kernel Logs\", \"status\") ??\n  safeGet(\"Check Job Status\", \"status\") ??\n  null;\n\nconst osDistro =\n  safeGet(\"Insert AWX Kernel Logs\", \"os_distro\") ?? null;\n\nconst kernelVersion =\n  safeGet(\"Insert AWX Kernel Logs\", \"kernel_version\") ?? null;\n\nconst rebootRequiredRaw = safeGet(\"Insert AWX Kernel Logs\", \"reboot_required\");\nlet rebootRequired = null;\nif (rebootRequiredRaw !== null) {\n  rebootRequired = String(rebootRequiredRaw).toLowerCase().includes(\"true\");\n}\n\nconst bootFreeMbRaw = safeGet(\"Insert AWX Kernel Logs\", \"boot_free_mb\");\nconst bootFreeMb = \n  bootFreeMbRaw !== null && bootFreeMbRaw !== undefined\n    ? Number(bootFreeMbRaw)\n    : null;\n\nconst stdoutLines = [];\nstdoutLines.push(\"========================================\");\nstdoutLines.push(\"AWX KERNEL PRECHECK LOG\");\nstdoutLines.push(\"========================================\");\nstdoutLines.push(`Timestamp: ${new Date().toISOString()}`);\nstdoutLines.push(`AWX Job ID: ${jobId ?? \"\"}`);\nstdoutLines.push(`GLPI Ticket ID: ${ticketId ?? \"\"}`);\nstdoutLines.push(`Request ID: ${requestId ?? \"\"}`);\nstdoutLines.push(`Hostname: ${hostname ?? \"\"}`);\nstdoutLines.push(`Host IP: ${hostIp ?? \"\"}`);\nstdoutLines.push(`Status: ${status ?? \"\"}`);\nstdoutLines.push(`OS Distro: ${osDistro ?? \"\"}`);\nstdoutLines.push(`Kernel Version: ${kernelVersion ?? \"\"}`);\nstdoutLines.push(`Reboot Required: ${rebootRequiredRaw ?? \"\"}`); \nstdoutLines.push(`Boot Free MB: ${bootFreeMb ?? \"\"}`);\nstdoutLines.push(\"\");\nstdoutLines.push(\"=========== AWX STDOUT / EVENTS ==========\");\nstdoutLines.push(\"\");\n\nfor (const ev of events) {\n  if (ev.stdout && String(ev.stdout).trim() !== \"\") {\n    stdoutLines.push(String(ev.stdout));\n  }\n}\n\nreturn [\n  {\n    json: {\n      awx_job_id: jobId,\n      glpi_ticket_id: ticketId,\n      request_id: requestId,\n      hostname,\n      host_ip: hostIp,\n      status,\n      os_distro: osDistro,\n      kernel_version: kernelVersion,\n      reboot_required: rebootRequired, \n      boot_free_mb: bootFreeMb,\n      stdout_log: stdoutLines.join(\"\\n\"),\n      raw_job_events: JSON.stringify(events),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        448
      ],
      "id": "0c895951-6c2b-4bf0-824b-e880e8994e70",
      "name": "Build AWX Log Record"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.awx_kernel_precheck_logs (\n    awx_job_id,\n    glpi_ticket_id,\n    request_id,\n    hostname,\n    host_ip,\n    status,\n    os_distro,\n    kernel_version,\n    reboot_required,\n    boot_free_mb,\n    stdout_log,\n    raw_job_events\n) VALUES (\n    $1,\n    $2,\n    $3,\n    $4,\n    $5::inet,\n    $6,\n    $7,\n    $8,\n    $9,\n    $10,\n    $11,\n    $12::jsonb\n);",
        "options": {
          "queryReplacement": "={{ [\n  $json.awx_job_id,\n  $json.glpi_ticket_id,\n  $json.request_id,\n  $json.hostname,\n  $json.host_ip,\n  $json.status,\n  $json.os_distro,\n  $json.kernel_version,\n  $json.reboot_required,\n  $json.boot_free_mb,\n  $json.stdout_log,\n  JSON.stringify($json.raw_job_events)\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        448
      ],
      "id": "5447a37a-0526-4e4c-9219-0f1bfd8d993e",
      "name": "Insert AWX Log to Postgres",
      "credentials": {
        "postgres": {
          "id": "2Oz45cpvd71nQQ1K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0JgEKAKdk4pahHxy",
          "mode": "list",
          "cachedResultUrl": "/workflow/0JgEKAKdk4pahHxy",
          "cachedResultName": "7 - Kernel Dependency Risk Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        448
      ],
      "id": "cdb7cc24-2bf4-4c86-96d3-d69ec9c022a8",
      "name": "Call '7 - Kernel Dependency Risk Agent'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8bc35ab-d856-4e32-a4d0-4009f4ae0c1b",
              "name": "system_id",
              "value": "={{ $('Trigger von CronJob').first().json.system_id }}",
              "type": "string"
            },
            {
              "id": "cc88d449-83cc-4c5c-abc6-fd984274ed04",
              "name": "target_kernel",
              "value": "={{ $('Trigger von CronJob').first().json.target_kernel }}",
              "type": "string"
            },
            {
              "id": "2edc77d7-e91a-4fd8-8a59-cb0eba03cc49",
              "name": "=customer_email",
              "value": "={{ $('Trigger von CronJob').first().json.customer_email }}",
              "type": "string"
            },
            {
              "id": "413179fc-64cb-44e4-93cc-49e210635754",
              "name": "maintenance_start",
              "value": "={{ $('Trigger von CronJob').first().json.maintenance_start }}",
              "type": "string"
            },
            {
              "id": "e3e08005-a406-4200-b976-3b7ad1f272dd",
              "name": "maintenance_end",
              "value": "={{ $('Trigger von CronJob').first().json.maintenance_end }}",
              "type": "string"
            },
            {
              "id": "700c18ea-e41d-482f-a92f-1b39b77c1037",
              "name": "awx_job_template_id",
              "value": "={{ $('Trigger von CronJob').first().json.awx_job_template_id }}",
              "type": "string"
            },
            {
              "id": "6a444409-80d7-4ccf-95ed-9d50ccb2f261",
              "name": "host_ip",
              "value": "={{ $('Build AWX Log Record').first().json.host_ip }}",
              "type": "string"
            },
            {
              "id": "856274b0-3e9f-45f6-9a41-75d33efeafd3",
              "name": "hostname",
              "value": "={{ $('Trigger von CronJob').first().json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        448
      ],
      "id": "32c76c77-86d4-48df-9565-380d96c6f972",
      "name": "Normalize Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2640,
        496
      ],
      "id": "27963d55-9f5b-4a84-a913-49b9952e0dcc",
      "name": "Trigger von CronJob"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "maintenance_windows",
          "mode": "list",
          "cachedResultName": "maintenance_windows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_ticket_id": "={{ $json.glpi_upgrade_ticket_id }}"
          },
          "matchingColumns": [
            "system_id"
          ]
        },
        "options": {}
      },
      "name": "Postgres - Save Upgrade Ticket ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "id": "af8c7f33-91be-4678-b147-e440466b47a2",
      "position": [
        -1152,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "2Oz45cpvd71nQQ1K",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Trigger von CronJob": [
      {
        "json": {
          "system_id": "SYS-12345",
          "hostname": "linux-kernel-sandbox",
          "target_ip": "34.40.22.118",
          "target_kernel": "6.8.0-1048-gcp",
          "request_id": "REQ-1004",
          "awx_url": "http://34.141.119.13:30080",
          "awx_token": "HIER_DEIN_ECHTER_AWX_TOKEN",
          "precheck_job_template_id": "11",
          "upgrade_job_template_id": "12",
          "customer_email": "hanspeter.erl66@gmail.com",
          "maintenance_start": "2026-03-25T22:00:00Z",
          "maintenance_end": "2026-03-26T02:00:00Z"
        }
      }
    ]
  },
  "connections": {
    "Trigger AWX Job": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Switch AWX Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init GLPI Session": {
      "main": [
        [
          {
            "node": "Create GLPI Ticket Precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Init GLPI Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GLPI Ticket Precheck": {
      "main": [
        [
          {
            "node": "Save GLPI Precheck Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save GLPI Precheck Ticket ID": {
      "main": [
        [
          {
            "node": "Create GLPI Ticket Kernel Upgrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GLPI Ticket Kernel Upgrade": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres - Save Upgrade Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AWX Kernel Logs": {
      "main": [
        [
          {
            "node": "Get AWX Job Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch AWX Status": {
      "main": [
        [
          {
            "node": "Insert AWX Kernel Logs",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AWX Job Events": {
      "main": [
        [
          {
            "node": "Build AWX Log Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AWX Log Record": {
      "main": [
        [
          {
            "node": "Insert AWX Log to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AWX Log to Postgres": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '7 - Kernel Dependency Risk Agent'": {
      "main": [
        [
          {
            "node": "Close GLPI Precheck Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Call '7 - Kernel Dependency Risk Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger von CronJob": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Save Upgrade Ticket ID": {
      "main": [
        [
          {
            "node": "Trigger AWX Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d50d52c-7514-4698-8eeb-435ee8e1def4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d64f74ce7d4082e3e748d39fef572f658db6b766aef038cfc28991b7d81b209"
  },
  "id": "Om6HvYrB5fpFQkQn",
  "tags": []
}