6 - AWX Dependency Scan Collector.json
{
  "name": "6 - AWX Dependency Scan Collector",
  "nodes": [
    {
      "parameters": {},
      "id": "1438a28b-d81b-4ca9-86e0-ce42c661bae9",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2752,
        -800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://34.141.119.13:30080/api/v2/job_templates/13/launch/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Pwzg1BGioG2x0ydDjskoqAVdvs4Fuv"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"extra_vars\": {\n    \"target_ip\": \"{{$json.target_ip}}\",\n    \"hostname\": \"{{$json.hostname}}\",\n    \"ticket_id\": \"{{$json.ticket_id}}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "673c8d3b-f0d0-44eb-b539-75e04f121408",
      "name": "AWX - Launch Job Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2416,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.item.json, awx_job_id: $json.id } }];"
      },
      "id": "2c6ee84b-0781-4766-95a9-3e15b40f30b3",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        -800
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "7848e4c1-b6a4-417f-8b3a-24634b49001c",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -2064,
        -800
      ],
      "webhookId": "93a51899-32fa-4e7a-bf98-9686c415327d"
    },
    {
      "parameters": {
        "url": "=http://34.141.119.13:30080/api/v2/jobs/{{$json.awx_job_id}}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer Pwzg1BGioG2x0ydDjskoqAVdvs4Fuv"
            }
          ]
        },
        "options": {}
      },
      "id": "6b4f2ced-45e6-4c5e-a9fb-2258d9d82b65",
      "name": "Get Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1856,
        -800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.status}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "successful"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{$json.status}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "failed"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ad91be58-c3f0-4e91-9c40-2f3f631d6539",
      "name": "Switch AWX Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1664,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'SUCCESS', report: $json.artifacts } }];"
      },
      "id": "c2b31007-8ba3-4632-b9ba-1b3df94676ed",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -960
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'FAILED', error: $json } }];"
      },
      "id": "a3ae5af5-aba6-47a7-83ce-5701ff779bc2",
      "name": "Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -816
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json } }];"
      },
      "id": "0de8eff5-f55d-49f4-ab94-c8e230d54fb5",
      "name": "Polling Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33454a79-ae64-4b2b-80fd-5ff757e2b94e",
              "name": "target_ip",
              "value": "={{$json.body.target_ip}}",
              "type": "string"
            },
            {
              "id": "50c5b464-a1f8-4b43-86f9-25fabe7f90f7",
              "name": "hostname",
              "value": "={{$json.body.hostname}}",
              "type": "string"
            },
            {
              "id": "5df8246a-0421-4b75-9b11-2a2bb4d0f130",
              "name": "ticket_id",
              "value": "={{$json.body.ticket_id}}",
              "type": "string"
            },
            {
              "id": "e7c56c0c-6621-4e45-8c0e-a5bc246baa6c",
              "name": "awx_url",
              "value": "http://34.40.108.56:30080",
              "type": "string"
            },
            {
              "id": "12b6cc2c-2a45-4593-9c9a-ef4284ea3d22",
              "name": "job_template_id",
              "value": "13",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -800
      ],
      "id": "0d8610e6-c9df-4362-9f05-6b149c066501",
      "name": "Prepare AWX Parameters"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare AWX Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWX - Launch Job Template": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Get Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Status": {
      "main": [
        [
          {
            "node": "Switch AWX Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch AWX Status": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Loop": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AWX Parameters": {
      "main": [
        [
          {
            "node": "AWX - Launch Job Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d3ddc5f-61eb-4652-8c1e-6201b35fb012",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d64f74ce7d4082e3e748d39fef572f658db6b766aef038cfc28991b7d81b209"
  },
  "id": "ve0Og0cLbyvrJSV9",
  "tags": []
}